<div class="center-container">
    <h2 class="forgot">Игры:</h2>
     <%- @games.each do |gm| %>
        <div>
        <%=  gm.game%>
        </div>
    <% end %>
    <div>
    <%= form_tag('/infos') do -%>
        <div><%=text_field_tag 'answer', "1e4e5-2Nf3Nc6"%></div>
        <div><%= submit_tag 'Отправить' %></div>
    <% end -%>
    </div>
</div>
