<div class = "welcome-container">
  <% if user_signed_in? %>
    <a class="welcome-anchor play" href="/static/index">Играть</a>
  <%else %>
    <a class="welcome-anchor">Чтобы играть, пройдите регистрацию</a>
  <%end %>
</div>