* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;

}
.lost-title{
    font-size: 1.9rem;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}
.black {
    background-color: rgba(118,150,86,255);
}
.white {
    background-color: rgba(238,238,210,255);
}

.selected {
    background-color: brown;
}
.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #22c022;
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
}
.cell img{
    width: 48px;
    height: 48px;
    position: relative;
}
.notation{
    width: calc(64px * 8);
    height: 64px;
    display: flex;
    flex-wrap: wrap;

}

.notation-elem{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem
}

.nums-container{
    width: 64px;
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: row;
    gap:1rem;
    font-size: 3.3rem;
}

.timer-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.9rem;
}
.restart-button{
    font-size: 2rem;
}
.lost-figure-title{
    font-size: 1.6rem;
}
